@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300;1,600&display=swap');
body{
	font-family: 'Montserrat', sans-serif;
	margin: 0;
	background-color: black;
}
main {
    max-width: 1000px;
    margin: 0 auto;
}
h1 {
	font-family: "Courier New",monospace;
    font-size: 5em;
    color: #bf0040;
    text-align: center;
    font-weight: bold;
}
h2 {
	font-size: 1.5em;
	color: blue;
	text-shadow: none;
}
h3 {
	font-size: 2em;
	color: white;
	text-shadow: none;
	background-color: none;
}
/* Vertical Navigation bar */
nav {
	background-color: black;
	padding: 10px;
}
nav ul{
	list-style-type: none;
	text-align: center;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right:20px;
}
nav a:link{
	color: red;
}
nav a:visited{
	color: red;
}
nav a:hover{
	color: green;
}
nav a:active{
	color: yellow;
}
/* CSS For Tablets */
@media only screen and (max-width: 1024px){
	h1{
		font-size:2em;
	}
}

/* CSS for Smartphones */
@media only screen and (max-width: 768px){
	h1{
		font-size: 2em;
	}
}

img{
	display:block;
	margin:0 auto
}
.me{
	float: left;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 20px;
}
i.fa-facebook-square{
	font-size: 40px;
	color: blue;
	margin-left: 1260px;
}
.icons, .fa{
    font-size: 40px;
    color: #35cad2;
    text-align: center;
}
	h2{
	text-align: center;
	}
i.fa-youtube{
	font-size: 40px;
	color: red;
	margin-left: 1260px;
}
div{
 background-color: black;
 box-shadow: 10px;
}
.home-hero{
  background-image: url(images/header.jpg);
  height: 600px;
  width: 1000px;
  background-size: cover;
  background-position: center;
  color: black;
  padding: 10px 10px 10px 30px;
  text-shadow: 4px 3px 0 #7A7A7A; 
}
.container-fluid{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
main{
	width: 1200px;
	margin: 0 auto;
}
i.fa-camera-retro{
	color: white;
	font-size: 40px;
	margin-left: 470px;
	text-align: center;
}
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
    display: inline;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}
